<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.png">
    <title>service-agent</title>
    <script src="/assets/plugins/js-localization/localization.js"></script>
    <script id="locale-message"></script>
    <link href="/assets/1.0/css/chunk-0d3030f2.7526283b.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-2a6b4320.0e563a66.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-3825c67e.6dff4892.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-3e07d418.3f2810a2.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-5db877a1.21922650.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-7577bfb2.e1655157.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-8160f0a2.26ad45a2.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-87ce0a90.e314f226.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-8eb62990.463aae98.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-93d2d188.13fdea44.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-a0ec10da.0fa90db9.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-a8254b9c.ce3b1ce3.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-b125f2f2.50b44d69.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-cf9141ea.b43656c1.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-dadff81a.12712817.css" rel="prefetch">
    <link href="/chunk-0d3030f2.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2a6b4320.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d0a3587.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d0ab185.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d0b3894.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d0cbae0.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d0d2f84.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d0ddf54.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d209363.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d216fd5.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d221b5f.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d221f36.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-2d22233d.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-3825c67e.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-3e07d418.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-57bebc31.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-5db877a1.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-7577bfb2.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-8160f0a2.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-87ce0a90.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-8eb62990.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-93d2d188.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-a0ec10da.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-a8254b9c.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-b125f2f2.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-cf9141ea.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/chunk-dadff81a.1689301383296.16d15eaf.js" rel="prefetch">
    <link href="/app.1689301383296.16d15eaf.js" rel="preload" as="script">
    <link href="/assets/1.0/css/app.a213d9e5.css" rel="preload" as="style">
    <link href="/assets/1.0/css/chunk-vendors.50abe489.css" rel="preload" as="style">
    <link href="/chunk-vendors.1689301383296.16d15eaf.js" rel="preload" as="script">
    <link href="/assets/1.0/css/chunk-vendors.50abe489.css" rel="stylesheet">
    <link href="/assets/1.0/css/app.a213d9e5.css" rel="stylesheet">
</head>

<body class="nk-body bg-lighter npc-general has-sidebar"><noscript><strong>We're sorry but service-agent doesn't work
            properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id="app"></div>
    <script src="/chunk-vendors.1689301383296.16d15eaf.js"></script>
    <script src="/app.1689301383296.16d15eaf.js"></script>
</body>

</html>